@model Account.Models.JournalCreateViewModel
@{
	ViewData["Title"] = "Создать журнал";
}

<header>
    <h1>Создать журнал курса</h1>
</header>

<div class="container">
    <h4>Создать журнал</h4>
    <hr />
    <form asp-action="Create" asp-controller="Journal" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="DisciplinId" />

        <div class="mb-3">
            <label asp-for="SessionCount" class="form-label"></label>
            <input asp-for="SessionCount" class="form-control" />
            <span asp-validation-for="SessionCount" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button type="button" class="btn btn-secondary ms-2" onclick="window.close();">Отмена</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}