@{
    ViewData["Title"] = "Личный кабинет преподавателя";
}

<header>
    <h1>Управление курсами - Личный кабинет преподавателя | Курсы</h1>
    <nav>
        <a href="/">Главная</a>
        <a href="/">Профиль</a>
        <a href="/Login">Выйти</a>
    </nav>
</header>

<div class="sidebar">
    <a href="/Home/Disciplin">Дисциплины</a>
    <a href="/Home/Courses">Курсы</a>
    <a href="/">Оповещения</a>
    <a href="/">Отчетность</a>

    <div class="course-actions-sidebar">
        <h3>Управление курсами</h3>
        <button class="action-button" id="add-course">Добавить курс</button>
        <div class="input-group">
            <label for="edit-course-name">Редактировать курс</label>
            <input type="text" id="edit-course-name" placeholder="Название курса">
            <button class="action-button" id="save-course">Редактировать</button>
        </div>
        <div class="input-group">
            <label for="add-material">Добавить материал</label>
            <input type="file" id="add-material">
            <button class="action-button" id="upload-material">Загрузить материал</button>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container">
        <h2>Существующие курсы</h2>
        <div class="course">
            <div class="course-card">
                <h3>Математика: ИС-21</h3>
                <p>Описание курса: Введение в основы алгебры и геометрии.</p>
            </div>
            <div class="course-card">
                <h3>Физика: ИАС-21</h3>
                <p>Описание курса: Основы механики и термодинамики.</p>
            </div>
        </div>
    </div>
</div>